@{
    ViewBag.Title = "Recordings and Photos";
}

@*
<h2>Recordings of Lauda Musicam of Atlanta </h2>
<p>
Giovanni Gastoldi's Balletto <a href="http://www.fippleflute.com/LaudaMusicWinter2009-10/Linnamorato.mp3">L'innamorato</a> as performed by Lauda.
Recorded March 2010 at St. Bartholomew's Episcopal Church.
</p>
<p>
Lauda members Cheryl Slaughter (harp) and Larry Riddle (recorder) perform Minuet from
<a href="http://www.fippleflute.com/LaudaMusicWinter2009-10/DanceOfTheBlessedSpirits.mp3">Dance of the Blessed Spirits</a> by Christoph Gluck.
Recorded March 2010 at St. Bartholomew's Episcopal Church.
</p>
<p>
The beautiful vocal work <a href="http://www.fippleflute.com/LaudaMusicWinter2009-10/LassoChiardo.mp3">Lasso ch'i'ardo</a> by Adrian Willaert is performed by the members of Lauda Musicam.
This work translates wonderfully into an instrumental piece.
</p>
*@

<h2>Photo Galleries</h2>
<article class="linksArticle">
    <a class="blockLink" href="@Url.Content("~/gallery/LM-conecert-2015-02-22")">Lauda Musicam February 22, 2015 Concert: Celebrations: Early Music for Special Occasions</a>
</article>
<article class="linksArticle">
    <a class="blockLink" href="http://www.fippleflute.com/apps/photos/">A great selection of the Lauda Musicam concert and rehearsal photos is available at Jody Miller's website.</a>
</article>
<article class="linksArticle">
    <a class="blockLink" href="@Url.Content("~/gallery/Christmas-Eve-2013-12-24")">Christmas Eve Service at St. Bartholomew's Episcopal Church on December 24, 2013.</a>
</article>
<article class="linksArticle">
    <a class="blockLink" href="@Url.Content("~/gallery/medieval-day-2012")">The photos of the quartet with Patsy Woods, Mickey Gillmor, Gisela McClellan, and Ron Foisia on the Medieval Day Celebration 2012.</a>
</article>
<article class="linksArticle">
    <a class="blockLink" href="@Url.Content("~/gallery/Picketts-Mill-Elementary-School-Chorus-2012-02")">Lauda Musicam director Jody Miller performs with the Pickett's Mill Elementary School Chorus in their Large Group Performance Evaluation in February 2012.</a>
</article>