@{
    ViewBag.Title = "Other Early Music Sites in Atlanta and Beyond";
}

<h2>@ViewBag.Title</h2>

<article class="linksArticle">
    <a href="https://ars.atlema.org/">Atlanta Recorder Society</a>
    <article>A group of recorder enthusiasts who meet on a third Sunday each month to play music together. ARS is currenlty headed by a Lauda Musicam member Isabel Mester.</article>
</article>
<article class="linksArticle">
    <a href="https://www.atlema.org/">Atlanta Early Music Alliance</a>
    <article>AEMA is non-profit organization promoting early (pre-1800) music awareness, and funding educational events and professional early music performances in Atlanta area.</article>
</article>
<article class="linksArticle">
    <a href="http://www.mountaincollegium.org/">Mountain Collegium Early Music Workshop</a>
    <article>Mountain Collegium is an annual week-long early music workshop on West Carolina University campus.</article>
</article>
<article class="linksArticle">
    <a href="http://www.susato.com/">Kelischek Workshop for Historical Instruments</a>
</article>
<article class="linksArticle">
    <a href="http://atlantabaroque.org/">Atlanta Baroque Orchestra</a>
</article>
<article class="linksArticle">
    <a href="http://newtrinitybaroque.org/">New Trinity Baroque</a>
</article>
<article class="linksArticle">
    <a href="https://www.earlymusicamerica.org/">Early Music America</a>
</article>
<article class="linksArticle">
    <a href="http://www.americanrecorder.org/">American Recorder Society</a>
</article>
<article class="linksArticle">
    <a href="http://www.historicbrass.org/">Historic Brass Society</a>
</article>
<article class="linksArticle">
    <a href="http://historicalharpsociety.org/">Historical Harp Society</a>
</article>
<article class="linksArticle">
    <a href="http://www.vdgsa.org/">Viola de Gamba Society of America</a>
</article>
<article class="linksArticle">
    <a href="http://earlymusichicago.org/">Early Music Chicago</a>
</article>
<article class="linksArticle">
    <a href="http://earlymusicnews.org/">Early Music News</a>
</article>
<article class="linksArticle">
    <a href="http://www.earlymusic.bc.ca/">Vancouver Early Music Festival</a>
</article>
<article class="linksArticle">
    <a href="http://indianapublicmedia.org/harmonia/">Harmonia</a>
</article>
<article class="linksArticle">
    <a href="http://www.vonhuene.com/">Von Huene Workshop</a>
</article>
<article class="linksArticle">
    <a href="http://courtlymusicunlimited.com/">Courtly Music Unlimited</a>
</article>
