@{
    ViewBag.Title = "About Us";
}

<h2>Who are we?</h2>
<p>
Lauda Musicam has roots as the early music ensemble-in-residence at St. Bartholomew's Episcopal Church.
After becoming defunct for a number of years, the group was reorganized by mostly members of the former Emory Early Music Ensemble.
Performing for church services throughout the year, the ensemble also performs three concerts yearly.
</p>

<h2>Contact Information</h2>
<p>
If you have any questions about our concerts, please call 404-314-1891 or email <a href="mailto:lauda.musicam@gmail.com">lauda.musicam@gmail.com</a>.
</p>

<h2>Our Facebook page</h2>
<p>
<a href="http://www.facebook.com/groups/134808040237/">Lauda Musicam Facebook page</a>
</p>

<h2>Sign up for our mailing list</h2>
<p>
<a href="http://www.fippleflute.com/signupformailinglist.htm">LMA mailing list request</a>
</p>

<h2>Lauda Musicam membership</h2>
<p>
Membership is open to amateur and pre-professional musicians with good music reading skills and at least a rudimentary knowledge of historical music performance practice.
Instruments commonly used in the ensemble are replicas of instruments in use during the renaissance period (ca. 1400–1600):
recorder, viol, sackbut, cornetto, crumhorn, cornamuse, lute, keyless flute, harpsichord, small harp, percussion.
</p>
<p>
To arrange an audition, please use this <a href="http://www.fippleflute.com/contactme.htm">contact form</a> or download the PDF application <a href="http://jlmiller.webs.com/LaudaMusicamFiles/LMAapp.pdf">here</a>.
</p>
