    body { background-color: #A2A887; margin: auto }

    h2 { font-size: 14pt }

    a { color: #590A0C }
    a:hover { color: #D1181D }

    #outerContainer 
    {
        width: 950px; text-align: left; margin: auto; font-size: 10pt; font-family: Verdana, Helvetica, Sans-Serif;
        background-image: url(/Content/ManuscriptBg2.png), url(/Content/ManuscriptBg2_back.png);
        background-repeat: no-repeat, repeat-y
    }

    #pageTitle { padding: 20px 0 20px 50px; float: left; }

    #photoStripContainer { width: 600px; float: left; margin-left: 32px }

    #navContainer { float: right;  margin-top: 32pt; margin-right: 50px }
    #navContainer ul li { list-style: none; white-space: nowrap; margin: 10px 0 10px 0 }
    #navContainer a { text-decoration: none; font-size: 14pt; font-family: Coda; font-weight: normal; }

    #mainContent { padding: 30px 40px 30px 40px; clear: both }

    .eventsBlock { margin: 30px 0 0 0 }
    .subContentBlock { margin-left: 40px }
    .eventSeparator { height: 1px; border: 0px; background-color: Black; margin: 0 100pt 20pt 100pt }
    .eventName { font-style: italic; padding-left: 10pt }

    #bottomRow { font-size: 8pt; color: Gray; margin: 0px 40px 10px 40px }
