@{
    ViewBag.Title = "PlayDate - Spring 2023";
}

<div style="text-align: center; margin: 24px 0 0 0">
    <img src="/flyers/PlayDateSpring2023.png" width="702" height="350" />
</div>

<h1>Lauda Musicam PlayDate</h1>

<p class="eventDate">March 25, 2023</p>
<br />

<p>
    Presented by
    <a href="https://www.daphnamor.com/">Daphna Mor</a>,
    <a href="https://www.brandeis.edu/facultyguide/person.html?emplid=96a30d193e82d8f8bebb1920695ef08a9fa8c4fe">Sarah Mead</a>,
    and
    <a href="https://www.fippleflute.com/aboutme.htm">Jody Miller</a>
</p>
<p>Hosted at Atlanta Speech School, 3160 Northside Parkway NW, Atlanta, GA 30327</p>

<p>Lauda Musicam of Atlanta offers two PlayDates each year for our members and our friends to play music together and to dig deeper into historical music.</p>

<p>
    The March 2023 PlayDate will feature Daphna Mor and Sarah Mead, as well as Lauda Musicam’s director Jody Miller.
    Three session blocks will be offered and are accessible to musicians and non-musicians alike.
</p>

<h2>Location</h2>
Atlanta Speech School, Atlanta Speech School, 3160 Northside Parkway NW, Atlanta, GA 20237

<h2>Registration</h2>
Registration is $50 for members of Lauda Musicam of Atlanta and $100 for non-members.
<br>
Non-members may join Lauda Musicam at the time of registration and then join at the $50 discount.
Membership dues are $50 for the remainder of the concert season (July-June each year).
Members are not required to participate as performers.

<p>
    Registration fees can be paid at <a href="https://paypal.me/laudamusicam?country.x=US&locale.x=en_US">PayPal</a>.
    Consider making a tax-deductible donation to support this workshop and future PlayDates.
</p>

<p>
    You may also mail a check.
    Please email recorder96@gmail.com for the mailing address.
</p>

<h2>Schedule and session topics</h2>

<table>
    <tr>
        <td>9:00 AM</td>
        <td> – </td>
        <td>9:30 AM</td>
        <td style="padding-left: 20pt">Check-in</td>
    </tr>
    <tr>
        <td>9:30 AM</td>
        <td> – </td>
        <td>10:30 AM</td>
        <td style="padding-left: 20pt">1st session block</td>
    </tr>
    <tr>
        <td>11:00 AM</td>
        <td> – </td>
        <td>12:00 PM</td>
        <td style="padding-left: 20pt">2nd session block</td>
    </tr>
    <tr>
        <td>12:00 PM</td>
        <td> – </td>
        <td>1:00 PM</td>
        <td style="padding-left: 20pt">Lunch (included in workshop fee)</td>
    </tr>
    <tr>
        <td>1:00 PM</td>
        <td> – </td>
        <td>2:00 PM</td>
        <td style="padding-left: 20pt">3rd session block</td>
    </tr>
    <tr>
        <td>2:30 PM</td>
        <td> – </td>
        <td>4:30 PM</td>
        <td style="padding-left: 20pt">4th session block (large group playing session)</td>
    </tr>
</table>
<br />

<p>Click <a href="/flyers/PlayDate-spring-2023-Class-Schedule.pdf">HERE</a> for a downloadable PlayDate schedule and session topics/descriptions.</p>

<p>Click <a href="https://docs.google.com/forms/d/e/1FAIpQLSeYN4O5o7223KKGJ42MhGfdHkr5ffImiQzqYuwBFOIu6B82hQ/viewform?usp=sf_link">HERE</a> to register for the PlayDate.</p>

<p>Click <a href="https://paypal.me/laudamusicam?country.x=US&locale.x=en_US">HERE</a> to pay registration fees.</p>

<h2>Sessions 1, 2, and 3</h2>
<p>
    Participants can sign up for topics of interest from among the session offerings.
    See the complete schedule and topic descriptions <a href="/flyers/PlayDate-spring-2023-Class-Schedule.pdf">HERE</a>.
</p>

<p>
    While participants will mostly play recorder, viola da gamba, and other Renaissance instruments, the PlayDate is open to all musicians.
    However, no transposed music will be provided for players of “modern” transposing instruments.
    There will also be parts for singers in most instances.
    Since percussion instruments are appropriate for many of the classes, there will be some opportunities for participants to play percussion instruments.
    Lauda Musicam has some instruments available for use.
    For questions about using instruments other than typical Renaissance instruments, email director Jody Miller at
    <a href="mailto:recorder96@gmail.com">recorder96@gmail.com</a>.
</p>

<p>
    Non-musicians or musicians who would prefer not to play may attend the sessions as auditors in these lecture-style presentations.
    The group of playing musicians will be learning the music under the direction of the instructor and this group will serve as a live demonstration of the topic.
    Even the auditors will be given the chance to participate through singing or playing percussion instruments when appropriate.
</p>

<h2>Session 4</h2>
This large-group playing session will involve all playing participants;
the non-musicians and the musicians who do not wish to play the music are invited to enjoy this playing session as audience members.
The music will be different selections from the classes.

<h2>Music and session materials</h2>
Music and session materials will be provided the morning of the PlayDate as you check in.

<h2>What to bring</h2>
<h3 style="margin-bottom: 0">Musicians</h3>
Instruments if planning to play in any of the sessions
<br />
A portable music stand
<br />
A three-ring binder for your session music and materials
<br />
Pencils for marking music and taking notes
<br />
Refillable water/drink bottle

<h3 style="margin-bottom: 0">Non-playing participants</h3>
A three-ring binder for your session music and materials
<br />
Pencils for taking notes if you would like
<br />
Refillable water/drink bottle

<h2>Lunch</h2>
Lunch and coffee are included in the registration fee.
Lunch will be boxed meals from the nearby Goldbergs Fine Foods.
Please indicate your choice of meal on the registration form.
<ul>
    <li>Regular boxed meal option: Deli sandwich with meat (no cheese or pork), lettuce, tomato, chips, pickle, and cookie</li>
    <li>Vegetarian boxed meal option: Similar to above, with veggie hummus as the sandwich protein</li>
</ul>
Please bring a refillable drink bottle to help us reduce waste.<br />
We may not be able to provide a meal for participants who register after the deadline.

<h2>COVID-19 Policy</h2>
While there is no requirement for vaccinations or masks, participants should keep in mind the health of all faculty and participants.
Please do not attend the PlayDate if you are ill or showing symptoms of being ill.
Lauda musicam requests you test for COVID-19 before the workshop.
We will issue a full refund to any who cannot attend due to illness or positive results on a COVID test.

<p style="font-size: 14pt; font-weight: bold; margin-top: 30px">
Please register by March 10.
Registrations after this date may be possible if there is room.
</p>